html{
    height: 100%;
    margin: 0px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    background-color: #517d99;
}

body {
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 60px;
    text-align: center;
    color: #0f6499;
}

h2,h3,p{
    margin: 20px;
}

div.index{
    width: 300px;
    border: 5px solid #005e99;
    margin: 0 auto;
}

div.index p{
    text-align: center;
}

div.sample {
    margin: 20px;
    padding: 10px;
    background-color: #d4d9df;
}

div.sample p,ul,pre{
    margin: 0;
}

pre {
    white-space: pre-wrap;
}

img{
    display: block;
    margin: 0 auto;
    padding: 10px;
}

footer {
    width: 100%;
    height: 70px;
    background-color: #0f6499;
}

footer p{
    color: #fff;
    padding: 20px;
    text-align: center;
}